.dice {
    float: left;
    margin: .3em;
    width:2em;
    background: #cccece;
    padding: 2em;
    font-size: 1.5em;
    text-align: center;
    border: #999999 1px solid;


}

h2 {
    clear: left;

}

#larry {
    position: absolute;

}