body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.message  {
    width: 95%;
    border: .5em;
    margin: .5em auto;
    border-radius: .5em;
    height: 2em;
}
.message-info {
    size: 50em;
    background-color: #cbdcff;

}

 .message-success {
    background-color: #c6f6d9;


}

 .message-warning {
     background-color: #fbfec3;


 }

 .message-error {
     background-color: #ffd1d6;


 }