body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.message  {
    width: 95%;
    border: .5em;
    margin: .5em auto;
    border-radius: .3em;
    height: 1.5em;
    padding: .3em;

}
.message-info {
    background-color: #cbdcff;
    color: #6148b2;

}

 .message-success {
    background-color: #c6f6d9;
     color: #036a28;


}

 .message-warning {
     background-color: #fbfec3;
     color: #8e7d06;


 }

 .message-error {
     background-color: #ffd1d6;
     color: #a73f51;


 }