table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

body {
    background-image: url("coffee-bean-right.jpeg");
    background-size: cover;
}




.display-4 {
    text-shadow: 2px 2px black;
    margin-right: 1.12em;
}

#cards {
    background-color: #c38c68;
    opacity: .75;
}

h1 {
    text-shadow: 2px 2px black;
}

p {

    font-weight: bold;
}